<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if(!locals.loggedin) { %>
    <a class="accountLink" title="Click to login" href="/account/login">My Account</a>
    <% } else { %>
    <a class="manageLink" title="AcctManagement" href="/account/">Welcome Basic</a>
    <a class="logoutLink" title="Click to logout" href="/account/logout">Log Out</a>
    <% } %>
  </div>
</header>