<% if (title) { %>
<h1><%- title %></h1>
<% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
</ul>
<% } %>

    <%# grid %>

<div class="center-container">
    <div class="form-container">
        <form action="/inv/add-classification" method="post">
            <label for="classification_name" class="form-label">Classification Name:</label>
            <p class="form-instructions">Name must be alphabetical characters only</p>
            <input type="text" id="classification_name" name="classification_name" pattern="^[^\s!@#$%^&*]+$" required>
            <input type="submit" id="add-classBtn" value="Add New Classification">
        </form>
    </div>
</div>'