<% if(title) { %>
    <h1 id="managementHead">
      <%= title %>
    </h1>
    <%} else { res.redirect('/'); } %>
  
      <%- messages() %>
          <% if (errors) { %>
            <ul class="notice">
              <% errors.array().forEach(error=> { %>
                <li>
                  <%= error.msg %>
                </li>
                <% }) %>
            </ul>
            <% } %>
  
 <div id="manageBtnsContainer">
    <p class="management-p">Add a new vehicle classification by clicking on the button below</p>
    <button id="manageClassificationBtn" class="manageBtn"
      onclick="location.href='./add-classification'">Add New Classification
    </button>
    <br>
    <p class="management-p">Add a new vehicle to our inventory by clicking on the button below</p>
    <button id="manageInventoryBtn" class="manageBtn"
      onclick="location.href='./add-inventory'">Add New Vehicle
    </button>
  </div>  
  